.nav-link{
    color: black;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white !important;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #4aaaa5;
}

.container {
    background-color: white;
}

.row {
    padding-top: -5%;
}

.row_2

hr {
    color: grey;
    height: 5px;
}

img {
    float: left;
    clear: both;
}

p {
    float: none;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4aaaa5 !important;
}

.container {
    background-color: white;
    width: 60%;
    height: auto;
    padding: 50px;
    margin: 60px;
    border: 15px grey;
}

body {
    background-image: url("../IMAGES/bright_squares.png") !important;
    
}

.img-thumbnail-1 {
    margin-top: -70px;
    margin-left: 20px;
    clear: both;
    float: left;
    align: center;
    height: 200px;
    width: 200px;
}

.img {
    height: 200px;
    width: 200px;
}

footer {
    text-align: center;
    margin-top: 10%;
    margin-bottom: -50px;
    padding: 20px;
    background-color: #666666;
}

.hr2 {
    color: #4aaaa5;
    border: 5px solid #4aaaa5;
    margin: -45px !important;
}

@media screen and (max-width: 576px) {

.container {
    width: 100%;
    align-self: center;
    float: right
    }   
}