.nav-link{
    color: black;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #4aaaa5;
}

.container {
    background-color: white;
}

.row {
    padding-top: 5%;
}

hr {
    color: grey;
    height: 5px;
}

img {
    float: left;
}

p {
    float: right;
}